@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@400;500;600;700;800&display=swap');

/* Variables CSS */
:root{
    --header-height: 3rem;
    /*Colores*/
    --first-color: #017260;
    --first-color-alt: #167C38;
    --secondary-color: #0097b2;
    --Error-color: #a30101;

    --title-color: #393939;
    --text-color: #707070;
    --text-color-light: #A6A6A6;
    --body-color: #FFFFFF;
    --container-color: #FFFFFF;

    --black-color-001: #1E1E1E;
    --gray-color-001: #D9D9D9;
    --text-color-001: #242B55;
    --text-color-002: #fafafa;

    /* Fuentes y tipografia */
    --body-font: 'Open Sans', sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margenes */
    --m-1: .5rem;
    --m-2: 1rem;
    --m-3: 1.5rem;
    --m-4: 2rem;
    --m-5: 2.5rem;
    --m-6: 3rem;

    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
}
@media screen and (min-width: 768px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}
/* Base */
*,::before,::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

html, body {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    line-height: 1.6;
    margin: var(--header-height) 0 0 0;
    width: 80%;
    margin: 0px auto;
}

a {
    text-decoration: none;
}

table {
    empty-cells: show;

}

form.jsfcrud_list_form th, td th {
    font-size: x-small;
    color: #4e6a71;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #90b4bd;
    border-right-color: #90b4bd;
    letter-spacing: 3px;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #b2d5d6;
}

td {
    vertical-align: top;
    padding-bottom: 8px;
    font-size: small;
}

form.jsfcrud_list_form td, td td {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #b2d5d6;
    border-right-color: #b2d5d6;
    vertical-align: baseline;
    padding-bottom: 0px;
}

tr.jsfcrud_odd_row {
    background-color: #fefeff;
    color: #4e6a71;
}


tr.jsfcrud_even_row {
    background-color: #eff5fa;
    color: #4e6a71;
}

#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}
.navigation {
    align-items: center;
    display: flex;
    height: 60px;
    height: var(--header-height);
    justify-content: space-between;
    max-width: 1024px;
}
.navigation__container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation__image {
    width: 40px;
    margin-right: 6px;
}
.navigation__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 767px) {
    .navigation__menu {
        background-color: var(--body-color);
        border-radius: 0 0 1rem 1rem;
        box-shadow: 0 4px 4px rgba(0, 0, 0,.1);
        left: 0;
        padding: 1.5rem 0 1rem;
        position: fixed;
        text-align: center;
        top: -100%;
        transition: .4s;
        width: 100%;
        z-index: var(--z-fixed);
    }
}
.navigation__item {
    margin-bottom: var(--m-2);
}
.navigation__link, .navigation__logo, .navigation__toggle {
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin: 10px;
}
.navigation__logo:hover {
    color: var(--first-color);
}
.navigation__link {
    transition: .3s;
}
.navigation__link:hover {
    color: var(--first-color);
}
.navigation__toggle {
    font-size: 1.3rem;
    cursor: pointer;
}
.navegacionVer{
    font-size: 100%;
    text-decoration: none;
    color: black;
    padding: 1px;
    border-radius: 3px;
}
.navegacionVer:hover{
    background-color: var(--first-color-alt);
    color: white;
    padding: 3px;
}
.navegacionEditar{
    font-size: 100%;
    text-decoration: none;
    color: black;
    padding: 1px;
    border-radius: 3px;
}
.navegacionEditar:hover{
    background-color: orange;
    color: white;
    padding: 3px;
}
.navegacionEliminar{
    font-size: 100%;
    text-decoration: none;
    color: black;
    padding: 1px;
    border-radius: 3px;
}
.navegacionEliminar:hover{
    background-color: var(--Error-color);
    color: white;
    padding: 3px;
}
.main_nuevo{
    margin-top: 100px;
    margin-left: 50px;
    flex: 1;
}
.footer_nuevo{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}